<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><h2>Trail Width:</h2></div>
    <div class="col-md-2">
      <trail-width-option width="72"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="36"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="24"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="12"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="6"></trail-width-option>
    </div>
  </div>
  
</div>