<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><h2>Trail Width:</h2></div>
    <div class="col-md-2">
      <trail-width-option width="1.82"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="0.91"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="0.61"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="0.30"></trail-width-option>
    </div>
    <div class="col-md-2">
      <trail-width-option width="0.15"></trail-width-option>
    </div>
  </div>
  
</div>