/* You can add global styles to this file, and also import other style files */
a:hover {
  cursor: pointer;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgba(138,138,138,1);
}

.selected .thumbnail {
  box-shadow: 5px 5px 10px 0px rgba(138,138,138,1);
}